<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="images/site-icon.png" />
		<link rel="stylesheet" href="styles/style.css"/>
		<title>Hug the Grizzly</title>
	</head>
	<body>
        <header>
			<section class="banner"></section>
            <nav class="main-nav">
                <ul>
                    <li class="nav-current"><a href="index.astro">Home</a></li>
                    <li><a href="#">Posts</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </header>
		<slot />
        <footer>
            <p>Hug the Grizzly</p>
            <a href="https://www.instagram.com/HugtheGrizzlyArt"><img src="images/icons8-instagram.svg" width="38" height="38" /></a>
            <a href="https://www.twitter.com/HugGrizzlyDev"><img src="images/icons8-twitter.svg" width="38" height="38" /></a>
        </footer>
	</body>
</html>